*{
    text-align: center;
}

.gallery-area {
    padding: 5% 0;
    position: relative;
    background-image: url("../images/baked-beer-cheese-724216.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    overflow: hidden;

}

.gallery-area:before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.single-gallery {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.img-area {
    width: 100%;
    border-top: 10px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

.img-area img {
    min-height: 65vh;
    max-height: 65vh;
}

.text-area {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    padding-top: 5px;
}

.text-area h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

.text-area p {
    font-family: 'Shadows Into Light', cursive;
    line-height: 25px;
    font-size: 24px;
}

.single-gallery:hover .text-area {
    background: #fff;
    color: #000;
}

.gallery-area div.owl-nav {
    color: #fff;
    display: inline-block;
    font-size: 60px;
    height: 60px;
    margin-top: -30px;
}

.owl-prev,
.owl-next {
    position: absolute;
}

.owl-prev {
    left: -20px;
    top: 40%;
}

.owl-next {
    right: -20px;
    top: 40%;
}

.button {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    margin-top: -30px;
}

.nav a {
    font-family: 'Dancing Script', cursive;
    color: #000;
    font-size: 25px;

}

.nav a:hover {
    color: orangered;
}

.image1 {
    background-image: url("../images/background-basil-cheese-1435907.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}

.social-media {
    position: relative;
}

.pizza{
    margin-top: 50px;
    cursor:pointer;
}

.pizza:hover{
    border-radius: 2%;
    box-shadow: 2px 2px 20px 2px #bebeb2;
}

.pizza h4 {
    font-family: 'Shadows Into Light', cursive;
}

.pizza p {
    font-family: 'Dancing Script', cursive;
    font-size: 30px
}

.pizza h6 {
    font-size: 20px;
    color: orangered;
}

.image2 {
    background-image: url("../images/kirsty-hughes-108515-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    margin-top: 5%;
}

footer{
    width: 100%;
    margin-bottom: 0px;
    background: #000;
    color: #fff;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    background: #000;
    color: #fff;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

.form-layout{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    align-items: center;
    max-width: 40%;;
}